.wrap{
    overflow: hidden;
}
.Hander{
    height: 1rem;
    line-height: 1rem;
    background: #1AAD19;
    color: white;
}
.bg-purple{
    text-align: center;
}
.back{
    text-align: left;
    margin-left: 10px;
}